<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kel1.com.simato_mobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_atma_auto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_atma_auto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".edit_data_sparepart_cabang"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tambah_data_supplier" />
        <activity android:name=".edit_data_supplier" />
        <activity android:name=".tambah_data_sparepart" />
        <activity android:name=".edit_data_sparepart" />
        <activity android:name=".tambah_data_sparepart_cabang" />
    </application>

</manifest>