<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kel1.com.simato_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_atma_auto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_atma_auto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recycle_adapter_history_sparepart_masuk"></activity>
        <activity
            android:name=".View.Owner.HistorySparepart.tampil_history_sparepart_masuk"
            android:label="History Sparepart Masuk"
            android:theme="@style/OwnerTheme" />
        <activity android:name=".edit_transaksi_penjualan" />
        <activity android:name=".recycle_adapter_detil_transaksi_service" />
        <activity android:name=".recycle_adapter_detil_transaksi_penjualan_sparepart" />
        <activity android:name=".recycle_adapter_tampil_riwayat_transaksi_konsumen" />
        <activity android:name=".View.Owner.owner_main_menu">

        </activity>
        <activity android:name=".View.CustomerService.cs_main_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Konsumen.konsumen_main_menu"
            android:theme="@style/KonsumenTheme" />
        <activity android:name=".View.CustomerService.TransaksiPenjualan.edit_transaksi_penjualan_sparepart" />
        <activity
            android:name=".View.CustomerService.TransaksiPenjualan.tampil_transaksi_penjualan"
            android:label="Tampil Transaksi Penjualan"
            android:theme="@style/CSViewTheme" />
        <activity android:name=".recycle_adapter_transaksi_penjualan" />
        <activity
            android:name=".View.Konsumen.konsumen_tampil_riwayat_transaksi"
            android:label="Riwayat Transaksi Konsumen"
            android:theme="@style/KonsumenViewTheme" />
        <activity
            android:name=".View.Konsumen.tampil_sparepart_bengkel"
            android:label="Sparepart yang Dijual"
            android:theme="@style/KonsumenViewTheme" />
        <activity
            android:name=".View.Konsumen.tampil_informasi_bengkel"
            android:theme="@style/KonsumenTheme" />
        <activity
            android:name=".View.CustomerService.TransaksiPenjualan.tambah_transaksi_penjualan_service_sparepart"
            android:theme="@style/CSTheme2" />
        <activity
            android:name=".View.CustomerService.TransaksiPenjualan.tambah_transaksi_penjualan_service"
            android:theme="@style/CSTheme2" />
        <activity
            android:name=".View.CustomerService.TransaksiPenjualan.tambah_transaksi_penjualan_sparepart"
            android:theme="@style/CSTheme2" />
        <activity
            android:name=".View.Owner.PengadaanSparepart.tampil_sparepart_stok_kurang"
            android:label="Sparepart Dengan Stok Kurang"
            android:theme="@style/OwnerTheme" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".recycle_adapter_konsumen" />
        <activity android:name=".recycle_adapter_motor" />
        <activity android:name=".recycle_adapter_motor_konsumen" />
        <activity android:name=".recycle_adapter_pengadaan_sparepart" />
        <activity android:name=".recycle_adapter_sparepart_cabang" />
        <activity android:name=".recycle_adapter_sparepart" />
        <activity android:name=".recycle_adapter_detil_pengadaan_sparepart" />
        <activity
            android:name=".View.CustomerService.MotorKonsumen.tampil_data_motor_konsumen"
            android:label="Kelola Motor Konsumen"
            android:theme="@style/CSViewTheme" />
        <activity
            android:name=".View.CustomerService.MotorKonsumen.tambah_data_motor_konsumen"
            android:theme="@style/CSTheme2" />
        <activity
            android:name=".View.CustomerService.MotorKonsumen.edit_data_motor_konsumen"
            android:theme="@style/CSTheme2" />
        <activity android:name=".View.Owner.owner_history_sparepart" />
        <activity
            android:name=".View.Owner.PengadaanSparepart.tampil_pengadaan_sparepart"
            android:label="Kelola Pengadaan Sparepart"
            android:theme="@style/OwnerTheme" />
        <activity android:name=".View.Owner.PengadaanSparepart.edit_pengadaan_sparepart" />
        <activity android:name=".View.Owner.PengadaanSparepart.tambah_pengadaan_sparepart" />
        <activity
            android:name=".View.CustomerService.Motor.tampil_data_motor"
            android:label="Kelola Motor"
            android:theme="@style/CSViewTheme" />
        <activity
            android:name=".View.CustomerService.Konsumen.tampil_data_konsumen"
            android:label="Kelola Konsumen"
            android:theme="@style/CSViewTheme" />
        <activity android:name=".View.CustomerService.cs_pengelolaan_transaksi_penjualan" />
        <activity android:name=".View.CustomerService.cs_pengelolaan_data" />
        <activity
            android:name=".View.Owner.SparepartCabang.tampil_data_sparepart_cabang"
            android:label="Kelola Sparepart Cabang"
            android:theme="@style/OwnerTheme" />
        <activity
            android:name=".View.CustomerService.Konsumen.edit_data_konsumen"
            android:theme="@style/CSTheme2" />
        <activity
            android:name=".View.CustomerService.Konsumen.tambah_data_konsumen"
            android:theme="@style/CSTheme2" />
        <activity
            android:name=".View.CustomerService.Motor.edit_data_motor"
            android:theme="@style/CSTheme2" />
        <activity
            android:name=".View.CustomerService.Motor.tambah_data_motor"
            android:theme="@style/CSTheme2" />
        <activity android:name=".recycle_adapter_supplier" />
        <activity
            android:name=".View.Owner.Supplier.tampil_data_supplier"
            android:label="Kelola Supplier"
            android:theme="@style/OwnerTheme" />
        <activity
            android:name=".View.Owner.Sparepart.tampil_data_sparepart"
            android:label="Kelola Sparepart"
            android:theme="@style/OwnerTheme" />
        <activity android:name=".View.Owner.owner_pengelolaan_data" />
        <activity android:name=".View.Owner.SparepartCabang.edit_data_sparepart_cabang" />
        <activity android:name=".View.Owner.Supplier.tambah_data_supplier" />
        <activity android:name=".View.Owner.Supplier.edit_data_supplier" />
        <activity android:name=".View.Owner.Sparepart.tambah_data_sparepart" />
        <activity android:name=".View.Owner.Sparepart.edit_data_sparepart" />
        <activity android:name=".View.Owner.SparepartCabang.tambah_data_sparepart_cabang" />
    </application>

</manifest>