<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kel1.com.simato_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_atma_auto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_atma_auto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tampil_data_motor"></activity>
        <activity android:name=".tampil_data_konsumen" />
        <activity android:name=".cs_pengelolaan_transaksi_penjualan" />
        <activity android:name=".cs_pengelolaan_data" />
        <activity android:name=".cs_main_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tampil_data_sparepart_cabang" />
        <activity android:name=".edit_data_konsumen" />
        <activity android:name=".tambah_data_konsumen" />
        <activity android:name=".edit_data_motor" />
        <activity android:name=".tambah_data_motor" />
        <activity android:name=".recycle_adapter" />
        <activity android:name=".tampil_data_supplier" />
        <activity android:name=".tampil_data_sparepart" />
        <activity
            android:name=".owner_pengelolaan_data"
            android:parentActivityName=".owner_main_menu" />
        <activity android:name=".owner_main_menu" />
        <activity android:name=".edit_data_sparepart_cabang" />
        <activity android:name=".MainActivity">
   </activity>
        <activity android:name=".tambah_data_supplier" />
        <activity android:name=".edit_data_supplier" />
        <activity android:name=".tambah_data_sparepart" />
        <activity android:name=".edit_data_sparepart" />
        <activity android:name=".tambah_data_sparepart_cabang" />
    </application>

</manifest>